[Desktop Entry]
Name=journal-notify-dhcpd
GenericName=Journal-Notify DHCPD
Comment=Notify about DHCP activities
Exec=journal-notify -m SYSLOG_IDENTIFIER=dhcpd -r "^DHCPN?ACK" -i network-wired
StartupNotify=false
Terminal=false
Type=Application
Categories=
